* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.top-banner {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  background-image: url("./images/donation4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.top-banner-text {
  width: 50%;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  margin-top: 250px;
}

.top-banner-text h1 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 10px;
}

.top-banner-text p {
  font-size: 20px;
  font-weight: 600;
}

.top-banner-text a {
  text-decoration: none;
  display: inline-block;

  margin-top: 15px;
  background-color: blueviolet;
  padding: 20px 25px;
  margin-top: 20px auto;
  text-transform: uppercase;
  color: #fff;
}

/* Donation section starts here */

.donate-section {
  height: 100vh;
  width: 90%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-top: 150px;
}

.donate-first-part {
  width: 50%;
  text-align: center;
}

.donate-first-part h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.donate-first-part p {
  margin-bottom: 20px;
}

.donate-second-part span {
  display: inline-block;
  margin: 20px;
  font-size: 40px;
  font-weight: 800;
  padding: 20px;
}

.border-span {
  background-color: #ffcccb;
  border: 1px solid red;
}

.donate-third-part {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.donate-third-part input {
  display: inline-block;
  width: 400px;
  height: 50px;
  border: none;

  padding: 0 10px;
  border-bottom: 1px solid gray;
}

.donate-third-part a {
  text-decoration: none;
  display: inline-block;
  width: 160px;
  margin-top: 15px;
  background-color: blueviolet;
  padding: 20px 25px;
  margin-top: 20px auto;
  text-transform: uppercase;
  color: #fff;
}

/* donation section ends here */

/* donate plane starts here */
.donate-plan {
  height: 100vh;
  width: 90%;
  background-color: #fff;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.donate-plan-first {
  width: 50%;
  text-align: center;
}
.donate-plan-first p {
  font-size: 30px;
  margin: 30px;
}

.donate-plan-first h1 {
  font-size: 50px;
  font-weight: 700;
}

.card-area {
  display: flex;
}

.card {
  width: 30%;
  background-color: gray;
  padding: 50px;
  margin-left: 50px;
  text-align: center;
  box-shadow: 10px 12px 4px black;
}

.card i {
  border: 1px solid black;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 50%;
}

.card-title {
  font-size: 15px;
  color: purple;
}

.card-desc {
  text-align: left;
  margin-top: 10px;
  line-height: 1.2;
  font-size: 20px;
}
/* donate plane starts here */

.contact-section {
  width: 100%;
  height: 100vh;
  margin-top: 200px;
  text-align: center;
}

.contact-section input {
  display: inline-block;
  width: 50%;
  height: 50px;
  border: none;
  border: 1px solid black;
  margin: 20px 0;
  padding: 0 20px;
}

#submit {
  display: block;
  text-decoration: none;
  background-color: #ffcccb;
  width: 200px;
  margin: 0 auto;
  padding: 10px 20px;
  color: rgb(52, 156, 20);
  font-size: 50px;
  border-radius: 20px;
}

.contact-section h1 {
  font-size: 30px;
  font-weight: 700;
  color: black;
  margin-bottom: 20px;
}

.contact-section p {
  font-size: 20px;
  font-weight: bolder;
}

#footer-section {
  background-color: black;
  color: white;
  padding: 30px;
  text-align: center;
}

.fa-brands {
  margin: 10px;
}
